<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Ideas</title>
  </head>
  <body>
    <h1>Capstone Project Ideas</h1>
    <h2>API Endpoints</h2>
    <ul>
      <li><a href="animals">Animals</a></li>
      <li><a href="animal">Animal</a></li>
      <li><a href="number">Number</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/youtubeinfo">YouTube</a></li>
      <li><a href="/exercisestart">Exercise</a></li>
    </ul>
  </body>
</html>
